{% extends 'FirstApp/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="container">

    <h2>Sign up new user</h2>
        <form class="form-horizontal" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_username">Username:</label>
                <input id="id_username" maxlength="150" name="username" type="text" required class="form-control"/>
            </div>

            <div class="form-group">
                <label for="id_email">Email address:</label>
                <input id="id_email" maxlength="254" name="email" type="email" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="id_password">Password:</label>
                <input id="id_password" name="password" type="password" required class="form-control"/>
            </div>

            <div class="form-group">
                <button type="submit">Submit & Login</button>
            </div>
        </form>
    </div>
{% endblock %}